In [ ]:
#Print duplicates present in the list
l=[10,20,30,10,50,20,'yu',6,'yu']
d=[]
for i in l:
  if l.count(i)>1 and i not in d:
    d.append(i)
print(d)

[10, 20, 'yu']

In [ ]:
#prit duplicates present in the given list without using any built in functions
d=[]
for i in range(len(l)):
  for j in range(i+1, len(l)):
    if l[i]==l[j]:
      d.append(l[i])
print(d)

[10, 20, 'yu']

In [ ]:
for j in range(5):
  for i in range(5):
    print('*', end='')

*************************

In [ ]:
for j in range(5):
  for i in range(5):
    print('*',end='')
print()

*************************

In [ ]:
#square
for j in range(5):
  for i in range(5):
    print('*', end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#increasing Triangle
for j in range(5):
  for i in range(j+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Decreasing triangle
for j in range(5):
  for i in range(j,5):
    print('*', end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Right sided triangle
n=5
for i in range(n):
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i+1):
    print('0', end=' ')
  print()

          0
        0 0
      0 0 0
    0 0 0 0
  0 0 0 0 0

In [ ]:
for i in range(5,1,-1):
  for j in range(5,1,-1):
    print(i,end=' ')
  print()

5 5 5 5
4 4 4 4
3 3 3 3
2 2 2 2

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('*', end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ', end=' ')
  for j in range(i+1):
    print('*', end=' ')
  for j in range(i):
    print('*', end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('*', end=' ')
  for j in range(i, n-1):
    print('*', end=' ')
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n=5
for i in range(n-1):
    for j in range(i,n):
      print(' ', end=' ')
    for j in range(i+1):
      print('*', end=' ')
    for j in range(i):
      print('*', end=' ')
    print()

for i in range(n):
  for j in range(i+1):
    print(' ', end=' ')
  for j in range(i,n):
    print('*', end=' ')
  for j in range(i,n-1):
    print('*', end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
#program to check value is type list
data={'arthi':['female',2002], 'Deepthi':'Female', 'Malavika':['Female', 2000],'Vidya':[2000]}
count=0
for i in data:
  if isinstance(data[i], list):
    count+=1
print(count)

3

In [ ]:
count=0
while i<range(len(data)):
  if type (data[i])==str:
    count+=1
    i+=1
print(count)

TypeError: '<' not supported between instances of 'str' and 'range'

In [ ]:
data[1]

KeyError: 1

In [ ]:
data.values()

dict_values([['female', 2002], 'Female', ['Female', 2000], [2000]])

In [ ]:
data.iloc[2]

AttributeError: 'dict' object has no attribute 'iloc'

In [ ]:
data['arthi']

['female', 2002]

In [ ]:
dataitems = list(data.items())

In [ ]:
dataitems

[('arthi', ['female', 2002]),
 ('Deepthi', 'Female'),
 ('Malavika', ['Female', 2000]),
 ('Vidya', [2000])]

In [ ]:
type(dataitems[0][1])

list

In [ ]:
len(dataitems[1])

2

#without using isistance function

In [ ]:
count=0
for i in range(len(dataitems)):
  if type(dataitems[i][1])==list:
    count+=1
print(count)

3

RECURSIVE FUNCTIONS

In [ ]:
#FACTORIAL WITH RECURSION FUNCTIONS
def factorial(n):
  if n==1:
    return 1
  else:
    return(n*factorial(n-1))
print(factorial(5))

120

In [ ]:
#find prime numbers
prime=[]
for i in range(2,20):
  c=0
  for j in range(1,i):
    if i%j==0:
      c+=1
  if c==1:
    prime.append(i)
print(prime)
print(sum(prime))

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#check if given a number is prime or not
n=int(input("Enter a number: "))
for i in range(2,n):
  if n%i==0:
    print('Not a prime')
    break
  else:
    print('Prime number')
    break

Enter a number: 7
Prime number

In [ ]:
#Write code to reverse a given string
str1=input()
list1 = str1.split(' ')
print(list1)
list2=list[:: -1]
print(list2)
str2 = ' '.join(str(x) for x in list2)
print(str2)

nandini govindgeri
['nandini', 'govindgeri']
list[slice(None, None, -1)]

TypeError: 'types.GenericAlias' object is not iterable

In [ ]:
#palindrome
s=input()
if s==s[:: -1]:
  print('Palindrome')
else:
  print("Not a palindrome")

232
Palindrome

Write unique values from list

In [ ]:
mylist=[1,2,2,3,3,4, 5,5, 6, 6]
new_list=[]
for i in mylist:
  if mylist.count(i)==1:
    new_list.append(i)
print(new_list)

[1, 4]

In [ ]:
#using list comprehension
[i for i in mylist if mylist.count(i)==1]

[1, 4]

Find the occurences of each element

In [ ]:
str1="a,a,b,b,c,c,c"
list1=str1.split(',')
count_ele=[]
str_ele=[]
for ch in list1:
  if not ch in str_ele:
    count_ele.append(f"{ch}:{list1.count(ch)}")
    str_ele.append(ch)
print(",".join(count_ele))

a:2,b:2,c:3

LAMBDA FUNCTIONS

In [ ]:
b=[[6,8],[5,6],[24,4]]
c=[24,5,4,7,8,9,12,15,6]
b.sort(key=lambda x:x[0])
print(b)
print(sorted(c))

[[5, 6], [6, 8], [24, 4]]
[4, 5, 6, 7, 8, 9, 12, 15, 24]

In [ ]:
try:
  n=int(input("how many numbers?: "))
except:
  print("Please enter number: ")
else:
  list_num=[]
  try:
    for i in range(n):
      num=int(input())
      list_num.append(num)
    mean = lambda x:sum(x)/len(x)
    print(mean(list_num))
  except:
     print("Some error occured")

how many numbers?: 3
55
120
101
92.0

In [ ]:
2+5+3+6+4

20

In [ ]:
20/5

4.0

In [ ]:
x='nandini'
print(x.capitalize())

Nandini

In [ ]:
x='Nikhil'
print(x.upper())

NIKHIL

In [ ]:
y='Arthi'
print(y.lower())

arthi

In [ ]:
#create a function that will capitalize the first letter of first name & last name
#name: nandini govindgeri
#expected output:Nandini Govindgeri
def cap_fun(x):
  a=x.title()
  return a
cap_fun('nandini govindgeri')

'Nandini Govindgeri'

In [ ]:
def cap_names(x):
  a=x.split(' ')
  b=[]
  for i in range(len(a)):
      b.append(a[i].capitalize())
  return ' '.join(b)
print(cap_names("nandini govindgeri"))

Nandini Govindgeri

In [ ]:
#create dataframe with 4-5 names and apply this function on that
#dataframe to give proper case names
import pandas as pd
data ={"Names":['nandini govindger', 'arthi rangapur','ankitha gonur',
      'vidya valvekar','malavika pyarasani', 'manisha reddy' ,'deepthi amruth'],
       "age":[22,21,21,22,23,21,22],
       }
df=pd.DataFrame(data)
type(df['Names'])
type(df['age'])

pandas.core.series.Series

In [ ]:
print(cap_names(df['Names'][1]))

Arthi Rangapur

In [ ]:
for i in range(len(df['Names'])):
  print(cap_names(df['Names'][i]))

Nandini Govindger
Arthi Rangapur
Ankitha Gonur
Vidya Valvekar
Malavika Pyarasani
Manisha Reddy
Deepthi Amruth

In [ ]:
list1=[]
for i in range(len(df['Names'])):
  list1.append(cap_names(df['Names'][i]))
print(list1)

['Nandini Govindger', 'Arthi Rangapur', 'Ankitha Gonur', 'Vidya Valvekar', 'Malavika Pyarasani', 'Manisha Reddy', 'Deepthi Amruth']

In [ ]:
df['Names']=[cap_names(df['Names'][i] ) for i in range(len(df['Names']))]

In [ ]:
df

                Names  age
0   Nandini Govindger   22
1      Arthi Rangapur   21
2       Ankitha Gonur   21
3      Vidya Valvekar   22
4  Malavika Pyarasani   23
5       Manisha Reddy   21
6      Deepthi Amruth   22

In [ ]:
df['Names']=list1

In [ ]:
df

                Names  age
0   Nandini Govindger   22
1      Arthi Rangapur   21
2       Ankitha Gonur   21
3      Vidya Valvekar   22
4  Malavika Pyarasani   23
5       Manisha Reddy   21
6      Deepthi Amruth   22